// mixins
@mixin title-text($font-size, $color) {
	font-size: $font-size;
	color: $color;
}
@mixin circles($height-width, $bg-color, $border-rad) {
	display: inherit;
	justify-content: center;
	align-items: center;
	height: $height-width;
	width: $height-width;
	background-color: $bg-color;
	border-radius: $border-rad;
}

// variables
$full-width: 100%;
$gutter: 15px;
$auto: auto;

// desktop
.container {
	width: $full-width;
	padding-right: $gutter;
	padding-left: $gutter;
	margin-right: $auto;
	margin-left: $auto;
}
.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -#{$gutter};
	margin-left: -#{$gutter};
}
.col {
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: $full-width;
	position: relative;
	min-height: 1px;
	padding-right: $gutter;
	padding-left: $gutter;

	&.currentLocation {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}
.descRow {
	padding: 2rem 0;

	.title {
		@include  title-text(1.5rem, white);
		padding: 1rem 0;
	}
	.wrapper {
		background: #222;
		display: inline-flex;
		height: 30px;
		transform: rotate(45deg);
		width: 30px;

		.levelIcon {
			color: #fff;
			display: inline-flex;
			height: 30px;
			transform: rotate(-45deg);
			justify-content: center;
			align-items: center;
			width: 30px;
		}
	}
	.level {
		display: inline-block;
		margin-left: 1rem;
	}

}
.cityHeading {
	display: inline-flex;
	align-items: center;
}
.city {
	@include title-text(3rem, white);
	margin-left: 0.75rem;
}


.creatures {
	display: flex;

	.icons {
		@include  circles(3.5rem, #1b2129, 50%);
		margin: 0 0.25rem;
	}
}
.cityIcon {
	// temp color
	color: #a7bed9;
	@include  circles(5rem, #1b2129, 50%)
}

// buttons
.buttonRow {
	@extend .row;
	justify-content: center;
}
// imported on app.js/temp
.prev {
	@include  circles(5rem, #485d73, 50%);
	color: white;
	opacity: 0.6;
	border: none;
}
.next {
	@extend .prev;
}
.seeMore {
	background: transparent;
	border: none;
	cursor: pointer;
	text-decoration: underline;
	color: white;
	margin-bottom: 3rem;
}
.homeBtn {
	width: 100%;
	background-color: #1E2833;
	padding: 1.5rem 0;
	border-radius: 9px;
	color: #a7bed9;
	border: none;
	text-align: center;
}