$full-width: 100%;
$gutter: 15px;
$auto: auto;
$title: 25px;

.container {
	width: $full-width;
	padding-right: $gutter;
	padding-left: $gutter;
	margin-right: $auto;
	margin-left: $auto;

	// display: flex;
	// flex-direction: column;
	// justify-content: end;
	// margin-bottom: 50px;
}
.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -#{$gutter};
	margin-left: -#{$gutter};
}
.col {
	flex-basis: 0;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: $full-width;
	position: relative;
	min-height: 1px;
	padding-right: $gutter;
	padding-left: $gutter;

	&.currentLocation {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}
.header {
	color: red;
}
.cityTitle {
	color: white;
	font-size: 4em;
}

.creatures {
	.icons {
		height: 25px;
		width: 25px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
	}
}