// mixins
@mixin slider-buttons($left-right) {
	position: absolute;
	bottom: 50%;
	z-index: 2;
	#{$left-right}: 0;
}
// variables
$full-width: 100%;

.carousel {
	width: $full-width;
	height: 100%;
	position: relative;
	margin: 0 auto;
	overflow: hidden;

	.inner {
		white-space: nowrap;
		padding: 2rem;
		// transition: transform 0.3s;
	}
}

.prev {
	@include slider-buttons(left)
}
.next {
	@include slider-buttons(right)
}
.carouselItem {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: $full-width;
	height: inherit;
	// height: 20px;
	// background-color: blue;
	color: white;
}