// mixins
@mixin slider-buttons($left-right) {
	position: absolute;
	bottom: 50%;
	z-index: 2;
	#{$left-right}: 0;
}
// variables
$full-width: 100%;

.carousel {
	width: $full-width;
	height: 100%;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	
	.inner {
		display: flex;
		justify-content: center;
		white-space: nowrap;
		padding: 0 5rem;
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
		// overlay effect
		box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.6);

		.carouselItem {
			max-width: 1140px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: $full-width;
			height: inherit;
			color: white;
		}
	}

	@media (max-width: 992px) {
		.inner {
			padding: 0 1.5rem;
		}
	}
}

// import to global
.prev {
	@include slider-buttons(left)
}
.next {
	@include slider-buttons(right)
}
